body {
    color: #DD5341;
    background-color: #FFFCC7;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    h1 {
        font-family: 'cooper';
        text-align: center;
        font-size: 50px;
        margin-top: 250px;
    }
    
    h2 {
        font-family: 'cooper';
        text-align: center;
        margin-top: 250px;
        font-size: 30px;

    }
    
    h3 {
        font-family: 'cooper';
        text-align: center;
        font-size: 20px;
    }
    p{
        text-align: center;
        font-size: 18px;
    }
}

/*menu*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(221, 83, 65, 0.8);
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*texto do menu*/

a:hover {
    color: #4DA394;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

header {
    img {
        width: 100%;
        height: auto;
        margin-top: 0;
        position: relative;
    }
}

.menu {
    justify-content: space-between;
    padding: 20px;
    a {
        text-align: center;
        font-size: 18px;
        color: #FFFCC7;
        text-decoration: none;
    }
}

.programacao {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    text-align: center;
    p{
        text-align: justify;
        padding-right: 30px;
        padding-left: 30px;
    }
    img {
        width: 230px;
        height: auto;
    }
}

.ingressos {
    img {
        width: 200px;
        height: auto;
        float: left;
    }
    h2{
        margin-top: 150px;
        text-align: right;
        margin-right: 29%;
    }
    p{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    a{
        color: #DD5341;
        text-decoration: none;
    }
    a:hover {
        color: #4DA394;
    }
}

.sobre {
    p{
        text-align: justify;
        padding-right: 80px;
        padding-left: 80px;
    }
    img {
        width: 100px;
        height: auto;
        float: right;
    }
} 

.footer {
    text-align: center;
    padding: 20px;
}
